{% extends 'twitter/base.html' %}

{% block title %}dane użytkownika{% endblock %}

{% block content %}
    {% for tweet in tweets %}
        <table border="1" width="500px">
        <tr>
        <tr>
            <th>Użytkownik</th>
            <td><a href="{% url 'user' tweet.user.pk %}">{% if tweet.user.first_name %}
                {{ tweet.user.first_name }}
                {% else %}
                {{ tweet.user.username }}
                {% endif %}
            </a></td>
        </tr>
        <tr>
            <th>Data wpisu</th>
            <td>{{ tweet.creation_date }}</td>
        </tr>
        <tr>
            <th>Wpis</th>
            <td>
                {{ tweet.content }}<hr>
                Liczba komentarzy: {{ tweet.comment_set.all.count }} |
                <a href="{% url 'tweet' tweet.pk %}">Zobacz wpis</a>
            </td>
        </tr>

    </tr>
    </table><br>
    {% endfor %}
    <a href="{% url 'send-msg' user.pk %}">Wyślij wiadomość do tego użytkownika</a>

{% endblock %}